{% extends "base.html" %}
{% block content %}
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .box {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 150px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        text-decoration: none; /* Ensure text-decoration is none for the entire box */
        color: #333; /* Ensure text color is applied to the entire box */
    }

    .box:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .box span {
        font-weight: bold;
    }
</style>

<h1>Welcome to the University Registration System</h1>
<div class="container">
    <a href="{% url 'course_list' %}" class="box">
        <span>Course List</span>
    </a>
    <a href="{% url 'student_list' %}" class="box">
        <span>Student List</span>
    </a>
    <a href="{% url 'professor_list' %}" class="box">
        <span>Professor List</span>
    </a>
    <a href="{% url 'admin_list' %}" class="box">
        <span>Admin List</span>
    </a>
    <a href="{% url 'available_courses' %}" class="box">
        <span>Student Available Courses</span>
    </a>
    <a href="{% url 'student_schedule' %}" class="box">
        <span>Student Schedule</span>
    </a>
    <a href="{% url 'manage_classes' %}" class="box">
        <span>Professor Schedule</span>
    </a>
</div>
{% endblock %}
