{% extends "base.html" %}
{% block content %}
<div class="header">
    <h2>Course List</h2>
    <a href="{% url 'course_create' %}" class="add-course-link">Add New Course</a>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .schedule-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px; 
    }
    .schedule-table, .schedule-table th, .schedule-table td {
        border: 1px solid #000;
    }
    .schedule-table th, .schedule-table td {
        padding: 8px;
        text-align: left;
    }
    .course-header {
        background-color: #f4f4f4;
        font-weight: bold;
    }
    .course-details {
        background-color: #e9e9e9;
    }
    .course-title {
        background-color: #08063f;
        color: #e8cd7d; 
        font-weight: bold;
    }
    .course-title a {
        color: #08063f;
        text-decoration: none;
        background-color: #e8cd7d; 
        padding: 2px 4px;
        border-radius: 3px; 
    }
    .add-course-link {
        background-color: #e8cd7d;
        padding: 2px 4px;
        border-radius: 3px; 
        text-decoration: none;
        color: black;
        font-weight: bold;
        border: 2px solid black; 
    }
</style>

{% for course in courses %}
<table class="schedule-table">
    <thead>
        <tr class="course-title">
            <td colspan="6"><a href="{% url 'course_detail' course.pk %}">{{ course.name }}</a> - Units: {{ course.credits }}</td>
        </tr>
        <tr>
            <th style="width: 40%;">Schedule</th>
            <th style="width: 20%;">Location</th>
            <th style="width: 20%;">Instructor(s)</th>
            <th style="width: 20%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="course-details">
            <td>{{ course.days }} | {{ course.start_time|date:"g:i a" }} - {{ course.end_time|date:"g:i a" }}</td>
            <td>{{ course.location }}</td>
            <td>{{ course.professor.first_name }} {{ course.professor.last_name }}</td>
            <td>
                <a href="{% url 'course_edit' course.pk %}">Edit</a> |
                <a href="{% url 'course_delete' course.pk %}">Delete</a> |
                <a href="{% url 'assign_professor' course.pk %}">Assign Professor</a>
            </td>
        </tr>
    </tbody>
</table>
{% endfor %}

{% endblock %}
